In [2]:
## 1. List comprehension is more redable, efficient and preffered over loop. For example
empty = []
for i in range(4):
  empty.append(i)
print(empty)

## this requires declaring an empty list and continously updating via appending

[i for i in range(6)]

## List comprehension on the other hand is more system preferred, is easy to read and requires less steps

[0, 1, 2, 3]

[0, 1, 2, 3, 4, 5]

In [5]:
## 2. Lets have a simple example of how if else condition can be applied to list comprehension
Labels = ["Even" if num%2==0 else "Odd" for num in range(1,5)]
Labels

['Odd', 'Even', 'Odd', 'Even']

In [6]:
## 3.

In [13]:
## 4. Flattening a list
list_of_lists = [[1, 2], [3, 4], [5]]
flattened1 = []
for x in list_of_lists:
  for y in x:
    flattened1.append(y)
print(flattened1)

flattened2 = [y for x in list_of_lists for y in x]
print(flattened2)

# so answer A is correct

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [16]:
## 5. Coded below
emails = [" Alice@EXAMPLE.com  ", "BOB@sample.com", "   claire@EXAMPLE.com"]
email_cleaned = [x.lower().strip() for x in emails]
print(email_cleaned)

['alice@example.com', 'bob@sample.com', 'claire@example.com']

In [22]:
## 6. Coded below
scores = [65, 82, 73, 55, 90, 74]
[score for score in scores if score>70]

[82, 73, 90, 74]

In [23]:
## 7. Coded below
nums = [5, 12, 8, 3]
["Even" if num%2==0 else "Odd" for num in nums]

['Odd', 'Even', 'Even', 'Odd']

In [30]:
## 8. Coded below
matrix = [[1,2],[3,4],[5,6]]
[y for x in matrix for y in x]

[1, 2, 3, 4, 5, 6]

In [27]:
## 9. Coded below
ages = [22, None, 25, 19, None]
["Missing" if age == None else age for age in ages]

[22, 'Missing', 25, 19, 'Missing']

In [29]:
## 10. Coded below
users = [
  {"id": 1, "active": True},
  {"id": 2, "active": False},
  {"id": 3, "active": True}
]
[user["id"] for user in users if user["active"]== True]

[1, 3]