In [ ]:
nimish = lambda x:x*2
nimish(5)

10

In [ ]:
salary_list = [13000,150000,170000,14000,20000]
total_salary = [(lambda x:x*0.1)(salary) for salary in salary_list]
total_salary

[1300.0, 15000.0, 17000.0, 1400.0, 2000.0]

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

for job in jobs_data:
  print(job["job_skills"])

['Python', 'Machine Learning']
['Excel', 'SQL']
['Python', 'TensorFlow', 'Keras']
['Java', 'C++']
['R', 'Statistics']

In [ ]:
help(filter)

Help on class filter in module builtins:

class filter(object)
 |  filter(function or None, iterable) --> filter object
 |
 |  Return an iterator yielding those items of iterable for which function(item)
 |  is true. If function is None, return the items that are true.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]
filtered_jobs = list(filter(lambda job: job['remote'] and "Python" in job["job_skills"], jobs_data))
[job["job_title"] for job in filtered_jobs]

['Data Scientist', 'Machine Learning Engineer']

In [ ]:
## 1. Defining functions help in modularity as in modularity, we break down each big task into smaller tasks with clearly defined actions. Functions help in this
## case as it defines what it is doing clearly. Same way, once a definition is created, no need to create any newer tasks.

In [28]:
## 2. There are 4 types of arguments in python
def positional_argument(a,b):
  print(f'a is {a} and b is {b}')

positional_argument(55,100)

def keyword_argument(a=5,b=10):
  print(f'b is {b} and a is {a}')

keyword_argument()

def default_argument(b,a=100):
  print(f'a is {a} and b is {b}')

default_argument(11)
default_argument(11,44)

def variable_argument(*args,**kwargs):
  print(f'args is {args} and keywords arg is {kwargs}')
  print(sum(args))

variable_argument(66,11,33,math=44,sciene=99)

a is 55 and b is 100
b is 10 and a is 5
a is 100 and b is 11
a is 44 and b is 11
args is (66, 11, 33) and keywords arg is {'math': 44, 'sciene': 99}
110

In [ ]:
## 3. A Hello Guest! Hello John
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet()
greet("John")

Hello, Guest!
Hello, John!

In [ ]:
## 4. Ans A

In [ ]:
## 5. Coded below
sales = [[3, 19.99], [2, 25.0], [1, 9.5], [5, 5.0], [4, 10.0]]
def total_revenue(sales):
  sum = 0
  for i in range(len(sales)):
    sum += sales[i][0]*sales[i][1]
  print(sum)

total_revenue(sales)

184.47

In [ ]:
sales = [[3, 19.99], [2, 25.0], [1, 9.5], [5, 5.0], [4, 10.0]]
print(len(sales))

5

In [ ]:
## 6. Coded below
emails = [" Alice@EXAMPLE.com  ", "BOB@sample.com", "   claire@EXAMPLE.com"]
emails_refined = [emails[i].strip().lower() for i in range(len(emails))]
emails_refined

['alice@example.com', 'bob@sample.com', 'claire@example.com']

In [ ]:
## 7 Coded below
def apply_discount(price, discount=0.10):
  return(price*(1-discount))

print(apply_discount(100))
print(apply_discount(100,0.20))

90.0
80.0

In [12]:
##8. Coded below
nums = [5, 12, 8, 3]
odd_numbers = list(filter(lambda x:x%2!=0, nums))
print(odd_numbers)

[5, 3]

In [15]:
##9. Coded below
def show_scores(*args,**kwargs):
  print (f'This is args:{args}')
  print(f'This is keywords args{kwargs}')

show_scores(45,55,math=65,science=75)

This is args:(45, 55)
This is keywords args{'math': 65, 'science': 75}

In [17]:
##10. Coded below
def demon(arg1):
  arg2 = arg1*2
  print(arg2)

demon(45)
print(arg2)

90

NameError: name 'arg2' is not defined