In [2]:
##1

In [3]:
##2

In [4]:
##3 A lambda x:x2

In [16]:
##4 D sort by absolute value
vals = [-3,-2.4,4,5]
values = sorted(vals, key = lambda x: abs(x))
print(values)

[-2.4, -3, 4, 5]

In [23]:
##5 # Function to add two numbers
salaries = [40000, 55000, 72000, 39000]
new_salaries = map(lambda x: x*1.15,salaries)
print(list(new_salaries))

[46000.0, 63249.99999999999, 82800.0, 44850.0]

In [41]:
##6 Coded below
emails = ['alice@example.com', 'bob@sample.com', 'carol@example.com', 'dan@company.org']

filtered_lambda = filter(lambda x: x.split('@')[1] == 'example.com',emails)
print(list(filtered_lambda))

filtered_listcomprehension = [e for e in emails if e.split('@')[1] == 'example.com']
print(filtered_listcomprehension)

filtered_loop = []
for e in emails:
  if e.split('@')[1] == 'example.com':
    filtered_loop.append(e)
print(filtered_loop)

['alice@example.com', 'carol@example.com']
['alice@example.com', 'carol@example.com']
['alice@example.com', 'carol@example.com']

In [44]:
##7
jobs = [
    {"title": "Analyst", "salary": 70000},
    {"title": "Manager", "salary": 95000},
    {"title": "Clerk", "salary": 45000}
]
new_list = sorted(jobs, key = lambda x: x['salary'])
print(new_list)

[{'title': 'Clerk', 'salary': 45000}, {'title': 'Analyst', 'salary': 70000}, {'title': 'Manager', 'salary': 95000}]

In [52]:
##8
users = [{"name": "alice"}, {"name": "BOB"}, {"name": "Eve"}]
new_users = map(lambda x:x['name'] if x['name'].isupper() else None,users)
mapped = [e for e in new_users if e is not None]
print(mapped)

['BOB']

In [61]:
##9
data = [
    {'user': 'Alice', 'completion': 0.89},
    {'user': 'Bob', 'completion': 0.95},
    {'user': 'Carol', 'completion': 0.67}
]
new_data = min(map(lambda x: x['completion'], data))
new_data

data2 = min(data, key=lambda x:x['completion'])
print(data2)

{'user': 'Carol', 'completion': 0.67}

In [63]:
#10
from functools import reduce
nums = [2, 3, 5]
sum_final = reduce(lambda x,y:x+y, nums)
sum_final

10