In [1]:
print("Heelo")

Heelo

In [2]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, "is composite")
            break
    else:
        print(n, "is prime")   # executed if loop wasnâ€™t broken

2 is prime
3 is prime
4 is composite
5 is prime
6 is composite
7 is prime
8 is composite
9 is composite

In [2]:
sales = [[3, 19.99], [2, 25.0], [1, 9.5], [5, 5.0], [4, 10.0]]
sum = 0
for sale in sales:
  sum += sale[0]*sale[1]

print(sum)

184.47

In [10]:
deltas = [7, 3, 0, 4, 2, -1, 5,-7]
list_pos = []
list_neg = []
value = False
for delta in deltas:
  if delta < 0:
    list_neg.append(delta)
    value = True

  else:
    list_pos.append(delta)

if value == False:
  print(list_pos)
else:
  print(list_neg)

[-1, -7]

In [7]:
deltas = [7, 3, 0, 4, 2, 5]
list_pos = []
value = False
for delta in deltas:
  if delta < 0:
    print (delta)
    value = True
    break

  else:
    list_pos.append(delta)

if value == False:
  print(list_pos)

[7, 3, 0, 4, 2, 5]

In [2]:
deltas = [7, 3, 0, 4, 2, 5]
i = 0
while i<len(deltas):
  if deltas[i]<0:
    print(delta[i])
    break
  i+=1
else:
  print("All non-negative")

All non-negative

In [3]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [20]:
count = 0
for job in job_roles:
  for skill in job["skills"]:
    if skill in my_skills:
      print(job["role"])
      count +=1
      break
print(count)

Data Analyst
Data Scientist
Machine Learning Engineer
Data Engineer
Business Intelligence Analyst
Quantitative Analyst
Operations Analyst
Database Administrator
AI Engineer
Statistician
10

In [24]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

for job in job_roles:
  qualified = True

  for skill in my_skills:
    if skill not in job["skills"]:
      qualified = False
      break

  if qualified:
      print(job)

{'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']}
{'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']}

In [3]:
deltas = [7, 3, 0, 4, 2, 1, 5]
for delta in deltas:
  if delta<0:
    print(delta)
    break

else:
  print("All non-negative")

All non-negative

In [5]:
nums = [10, 105, 50, 200, 30]
for num in nums:
  if num<100:
    print(num)

10
50
30

In [6]:
fruits = ["apple", "banana", "cherry"]
i = 0
for fruit in fruits:
  i += 1
  print(f'{i}:{fruit}')

1:apple
2:banana
3:cherry

In [9]:
for i in range(0,21,2):
  print(i)

0
2
4
6
8
10
12
14
16
18
20

In [10]:
[i for i in range(0,21,2)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [12]:
ids = [14, 25, 33, 68, 91, 42]
# Try again with ids = [14, 25, 42, 68, 91]
for id in ids:
  if id == 42:
    print("Found target")
    break
else:
  print("Target not found")

Found target