In [7]:
years_experience = {
    'Luke' : 3,
    'Kelly' : 6,
    'Ken' : 4,
    'Alex' : 3
}
for key,value in years_experience.items():
  if value > 5:
    print(key,'has',value,'of experience')

Kelly has 6 of experience

In [10]:
years = 0
index = 0
year_list = list(years_experience.items())
while years<5:
  key,years = year_list[index]
  if years>=5:
    print(key,'has',years,'of experience')
  index += 1

Kelly has 6 of experience

In [2]:
a = 44
b = 45
c = 44
print(a==b,a==c,a!=b,a!=c,a<b,a>b)

False True True False True False

In [6]:
a = 55
b = 5
c = 0
def division(num,den):
  if den != 0 and num>0:
    print(num/den)
  else:
    print(f'denominator is {den}')

division(a,b)
division(a,c)

11.0
denominator is 0

In [24]:
products = [
    {"name": "Pen", "price": 15, "stock": True},
    {"name": "Book", "price": 75, "stock": False},
    {"name": "Cable", "price": 50, "stock": True},
    {"name": "Lamp", "price": 100, "stock": True},
    {"name": "Chair", "price": 200, "stock": False}
]

for product in products:
  if product["price"] in range(50,100):
    print(product["name"])

Book
Cable

In [46]:
banned_terms = {"fake","prohibited", "illegal"}
desc1 = "This book is prohibited material."
desc2 = desc1
desc3 = "Ethical original content."
reviewed = []
banned_terms_list = list(banned_terms)

def error_checker(arg1,arg2):

  for seen in reviewed:
    if arg2 is seen:
      print("Reviewed, skipping this....")
      return

  for items in arg1:
    if items in arg2:
      print("CHECK")
      break

  reviewed.append(arg2)

error_checker(banned_terms_list,desc1)
error_checker(banned_terms_list,desc2)
error_checker(banned_terms_list,desc3)

CHECK
Reviewed, skipping this....

In [47]:
scores = [0.67, 0.95, 0.92, 0.81, 0.75, 0.99]
for score in scores:
  if 0.8<=score<0.95:
    print(score)

0.92
0.81

In [49]:
products = [
    {"name": "Mouse", "price": 30, "stock": False},
    {"name": "Monitor", "price": 250, "stock": True},
    {"name": "Desk", "price": 120, "stock": True},
]
for product in products:
  if product["price"]>150 or not product["stock"]:
    print(product["name"])

Mouse
Monitor

In [52]:
a = 5
b = 2
c = 10
print(a + b * c)       # What output?
print((a + b) * c)     # What output?

25
70

In [56]:
records = [
    {"score": 91, "urgent": True, "vip": False},
    {"score": 89, "urgent": True, "vip": False},
    {"score": 95, "urgent": False, "vip": True},
    {"score": 92, "urgent": True, "vip": True}
]

for record in records:
  if (record["score"]>90 and record["urgent"] is True) ^ (record["vip"] is True):
    print("HIGH PRIORITY")

  else:
    print("LOW PRIORITY")

HIGH PRIORITY
LOW PRIORITY
HIGH PRIORITY
LOW PRIORITY