In [5]:
record = (101,"Alice",29,"USA")
cust_id,name,age,country = record
print(f'Customer ID: {cust_id}')
print(f'Name: {name}')
print(f'Age: {age}')
print(f'Country: {country}')

Customer ID: 101
Name: Alice
Age: 29
Country: USA

In [12]:
group1 = {"Python", "Java", "C++", "SQL"}
group2 = {"Java", "C#", "Python", "JavaScript"}
intersection1 = group1 & group2
print(intersection1)
unique_grp1 = group1 - group2
print(unique_grp1)
unique_grp2 = group2 - group1
print(unique_grp2)
common_between = group1 ^ group2
print(common_between)

{'Java', 'Python'}
{'SQL', 'C++'}
{'C#', 'JavaScript'}
{'SQL', 'C#', 'JavaScript', 'C++'}

In [19]:
list1 = []
usernames = [" Alice", "bob", "alice ", "Bob", "CHARLIE", "charlie "]
for i in usernames:
  list1.append(i.strip().lower())
list_final = set(list1)
print(list_final)

{'charlie', 'alice', 'bob'}

In [20]:
list_clean = {name.strip().lower() for name in usernames}
print(list_clean)

{'charlie', 'alice', 'bob'}

In [22]:
fraud_ids = {101, 202, 303}
transaction_user_ids = [101, 404, 202, 505, 606, 303, 707]
clean_list = fraud_ids & set(transaction_user_ids)
print(clean_list)

{202, 101, 303}

In [23]:
demographics = {
    ("New York", "10001"): {"population": 211000, "median_age": 36},
    ("Los Angeles", "90001"): {"population": 95000,  "median_age": 34},
    ("Chicago", "60601"): {"population": 67000,  "median_age": 38},
}

city_zip = ("New York","10001")
info = demographics[city_zip]
print(info)

{'population': 211000, 'median_age': 36}

In [30]:
campaign_a = {"cust1", "cust2", "cust3", "cust4"}
campaign_b = {"cust3", "cust4", "cust5", "cust6"}
print(campaign_a & campaign_b)
print(campaign_a ^ campaign_b)
print (campaign_a - campaign_b)

{'cust3', 'cust4'}
{'cust5', 'cust6', 'cust2', 'cust1'}
{'cust2', 'cust1'}